[submodule "sprawozdanie/rozdzial2/Wydajnosc_Skalowanie_i_Replikacja"]
	path = sprawozdanie/rozdzial2/Wydajnosc_Skalowanie_i_Replikacja
	url = https://github.com/Broksonn/Wydajnosc_Skalowanie_i_Replikacja.git
